@import './fonts';
@import './vars';

*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-radius: 0;
  background: none;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow: hidden auto;
}
#app {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
  color: var(--accent-color)
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
}
