.button {
  width: 219px;
  height: 40px;
  background-color: var(--accent-color);
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 34px;
}
