.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__svg {
    display: flex;
    margin: 0 auto;
  }

  &__text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}


.counter {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 30px;
  background-color: #cccccc;
  margin: 0 auto;
  justify-content: space-between;

  &__button {
    height: 100%;
    padding: 0 5px;
    background-color: darkgoldenrod;
  }

  &__input {
    width: 70px;
    background-color: #FF6969;
    display: flex;
    text-align: center;
    outline: none;
  }
}

.getRedText {
  color: red;
}

.names {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resultSearch {
  display: flex;
  flex-direction: column;
}

.shavaCat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;

  &__useBoard, .useBoard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    margin-left: 50px;

    &__button {
      width: 150px;
      height: auto;
      background-color: wheat;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid black;

      &.active, &.hover {
        background-color: #CCC;
      }
    }
  }

  img {
    transition: 0.2s ease;

    &.sepia {
      filter: sepia(100%);
    }

    &.border {
      border: 5px double gray;
    }

    &.small {
      width: 50%;
      height: auto;
    }

    &.shadow {
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }
  }

  .sizes, .rotate {
    display: flex;
    flex-direction: column;
    color: black;
    width: 300px;
    margin: 5px;
  }

  h2 {
    margin: 20px;
    color: black;
  }
}


.searchOfText {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 5px;
  color: black;
  margin-bottom: 50px;

  &__title {
    background-color: #FF6969;
  }

  &__search {
    background-color: white;
    width: 350px;
    height: 40px;
    border-radius: 10px;

  }

  &__button {
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: auto;
    padding: 10px 50px;
    margin-top: 5px;
  }
}

.product-cardList {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.product-card {
  width: 400px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;


  .imgUrl {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    border-radius: 20px 20px 0 0;
  }

  &__info {
    color: black;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 20px;

    .price {
    }

    .count {
    }

    .button {
      background-color: red;
      color: white;
      font-size: 20px;
      border-radius: 5px;
      width: auto;
      padding: 10px 0;
      margin-top: 20px;
    }
  }
}

//ValidForm

.sign-up {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 20px;
  margin-left: 50px;
  margin-bottom: 200px;
  color: black;
}

.valid-form__input {
  background-color: white;
  width: 350px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
}

.form-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.is-valid {
  border: 2px solid green;
}

.is-invalid {
  border: 1px solid red;
  color: red;
}

label {
  width: 100px;
}

.form-control {
  width: 100px;
  background-color: #FF6969;
}

.select {
  height: auto;
  padding: 20px;
}

option {
  margin-top: 10px;
}

.form-check--rules {
  display: flex;
  //flex-direction: row;
  margin-top: 10px;
  flex-direction: column;
}

.form-check {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.form-check-input {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.form-check-label {
  color: black;
  margin-left: 10px;
  width: 100%;
  font-size: 20px;
}


.invalid-feedback {
  color: #ff2835;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.check-button {
  display: flex;
  background-color: red;
  color: white;
  width: 120px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
